body*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}

.container *{
    padding: 0.5em;
}

.container{
    display:flex;
    flex-wrap: wrap;
}

.Menu{
    flex-basis: 100%;
    display: flex;
    flex-wrap:wrap ;
}

main{
    display: flex;
    flex-wrap: wrap;
    flex-basis: 60%;
}

main>h2{
    flex-basis: 100%;
}

form{
    flex-basis: 50%;
}

form>fieldset>:nth-of-type(1){
    display:flex;
    flex-wrap: wrap;
}

img{
    flex-basis:40%;
}

aside{
flex-basis: 30%;
}

footer{
    flex-basis: 100%;
}