body*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}

.container *{
    padding: 0.5em;
}

.container{
    display:flex;
    flex-wrap: wrap;
}

.Menu{
    border-top: 1px hsl(240, 50%, 50%) solid;
    border-bottom: 1px hsl(240, 50%, 50%) solid;
    margin:2%;
    flex-basis: 100%;
    display: flex;
    flex-wrap:wrap ;
}

main{
    display: flex;
    flex-wrap: wrap;
    flex-basis: 60%;
    background-color:hsl(240, 50%, 90%)
    
}

main>h2{
    flex-basis: 100%;
}

form{
    flex-basis: 50%;
}

form>fieldset>:nth-of-type(1){
    display:flex;
    flex-wrap: wrap;
}

img{
    flex-basis:40%;
}

aside{
    height:600px;
    display: flex;
    flex-basis: 30%;
    background-color:hsl(240, 50%, 90%);
    margin-left: 5%;
    justify-content: center;
    flex-wrap: wrap;
}

aside>article{
    
}

footer{
    display: flex;
    flex-basis: 100%;
    border: 1px hsl(240, 50%, 50%) solid;
    margin:2%;
    align-items: center;
    justify-content: center;
}