body*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}

.container{
    display:flex;
    flex-wrap: wrap;
    width: 1000px;
    justify-content: center;
    margin:0 auto;
    font-family: Arial;
}

nav{
    border-top: 1px hsl(240, 50%, 50%) solid;
    border-bottom: 1px hsl(240, 50%, 50%) solid;
    margin-top:1em;
    margin-bottom:1em;
    flex-basis: 100%;
    display: flex;
    flex-wrap:wrap;
    height: 100px;
    align-items: center;
    
}

header{
    flex-basis: 60%;
    display: flex;
    justify-content: center;
    text-transform: capitalize;
    word-spacing: 0.3em;
}

.blysk{
    font-size: 1.3em;
    margin-left: 0.3em;
    letter-spacing: 0.7em;
    text-transform: uppercase;
}

header>h1{
    color:hsl(240, 50%, 50%);
    display: flex;
    align-items: center;
    font-variant: small-caps;
}

ul{
    list-style-type: none;
    display: flex;
    flex-basis: 30%;
}

nav>ul>li>a{
    width: 8em;
    padding:0.8em;
    border-radius: 0.8em;
    display: flex;
    justify-content: center;
    margin:0.8em;
}

nav>ul>li>a{
    text-decoration: none;
}


nav>ul>li>a{
    background: hsl(240, 50%, 90%);
    color:hsl(240, 50%, 50%);
}

nav>ul>li>a:hover{
    background: hsl(240, 50%, 50%);
    color: hsl(240, 50%, 90%);
}

nav>ul>li>a.active{
    background: hsl(240, 50%, 50%);
    color: hsl(240, 50%, 90%);
}

main{
    display: flex;
    flex-wrap: wrap;
    flex-basis: 60%;
    background-color:hsl(240, 50%, 90%);
    padding: 1em;
    border-radius: 1em;
    box-shadow: 0 0 5px hsl(240, 50%, 50%);
    height: 500px;
    justify-content: space-between;
}

main>h2{
    flex-basis: 100%;
    display: flex;
    justify-content: center;
}

.im{
    margin-left: 2%;
}

form{
    flex-basis: 55%;
}

fieldset{
    margin:0.5em;
    margin-bottom: 0.3em;
}

img{
    margin-top: 15%;
    width: 250px;
    height:167px;
}

.b1{
    padding: 0.5em;
    width: 6em;
    margin-left:2%;
}

.b2{
    padding: 0.5em;
    width: 6em;
}

.usluga{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
}

.Karta{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
}

.sm{
    flex-basis: 100%;
    display: flex;
    align-items: center;
    justify-content: center; 
}

aside{
    height:500px;
    display: flex;
    flex-basis: 30%;
    background-color:hsl(240, 50%, 90%);
    flex-wrap: wrap;
    padding: 1em;
    border-radius: 1em;
    box-shadow: 0 0 5px hsl(240, 50%, 50%);
    margin-left:3%;
    flex-direction: column;
}
aside>h2{
    display: flex;
    justify-content: center;
    align-items: center;
}

aside>article{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.1em;
}

footer{
    display: flex;
    flex-basis: 100%;
    border: 1px hsl(240, 50%, 50%) solid;
    margin-top:2%;
    align-items: center;
    justify-content: center;
    height: 100px;
    border-radius: 1em;
}

.Imie{
    color:hsl(0, 100%, 50%);
    letter-spacing: 0.4em;
    font-weight:bold;
}